body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

.header {
    background-color: rgba(255, 255, 255, 0.952);
    width: 98%;
    padding: 2px 20px;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    border-bottom: 2px solid #ececec;
    position: fixed;
    z-index: 99;              
}

.logo {
    font-size: 38px;
    font-weight: bold;
    color: #e74c3c;
    
}

.search-box input {
    padding: 10px;
    width: 220px;
    border: 1px solid #aaa;
    border-radius: 20px;
    width: 500px;
    height: 20px;
    background-color: #fcfcfc;
    
    

}

.nav-links a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.signup-btn {
    background: #3498db;
    color:white !important;
    padding: 8px 12px;
    border-radius: 5px;
}

.hero {
    
    padding: 60px 20px;
    text-align: center;
    color:#434343;
    padding: 150px 50px;
    font-size: 20px;
    background: url(https://wallpaperswide.com/download/people-wallpaper-1920x1200.jpg);
    background-size: cover;
}

.ask-button {
    padding: 10px 18px;
    background: white;
    border: none;
    color: #3498db;
    font-weight: bold;
    border-radius: 8px;
}
.section-title {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}


.question-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    padding: 20px; 
}

.question-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}
.question-card:hover{
    border:2px solid #e74c3c;
    box-shadow: 100px #bbb;
    transform:translateY(-10px) ;
}
#main {
    display: flex;
    gap: 20px;
    width: 100vw;
}

.outer {
    width: 33%;
    border: 1px solid red;

      }
.outer:hover{
    box-shadow: 100px #bbb;
    transform:translateY(-10px) ;
    
}
img{
    width: 100%;
    height: 200px;
    }

.pink{
    background-color: pink;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: white;
    }

.purple{
    height: 50%;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: white;
    }
.tag{
    display:inline;
    margin-top: 10px;
    padding: 5px 10px;
    background: #e8f4ff;
    color: #2980b9;
    border-radius: 10px; 
    margin: 10px;           }
.ask-section {
    background: rgb(254, 252, 252);
    padding: 40px 20px;
    margin: 0px 470px;
    border-radius: 20px;
    box-shadow: #aaa ;  }

.ask-form {
    max-width: 600px;
    margin: auto;
    display: grid;
    gap: 15px;
}

.ask-form input,
.ask-form select,
.ask-form textarea {
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.submit-btn {
    padding: 12px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
}

.about {
    background: #ecf0f1;
    padding: 40px 20px;
    text-align: center;
}

.footer {
    background: #2c3e50;
    color: white;
    padding: 15px;
    text-align: center;
}